.DS_Store
*.swp
*.lock
Pods/Pods.xcodeproj/xcuserdata/howardaguilar.xcuserdatad/
TravelApp.xcodeproj/xcuserdata/howardaguilar.xcuserdatad/
TravelApp.xcworkspace/xcuserdata/
Pods/Target Support Files/Pods-TravelAppTests/Pods-TravelAppTests.debug.xcconfig
Pods/Target Support Files/Pods-TravelAppTests/Pods-TravelAppTests.release.xcconfig
